<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
  <display-name>JavaEEBook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>testServlets.SimpleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormHandlerServlet</servlet-name>
    <servlet-class>testServlets.FormHandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FlagsHandlerServlet</servlet-name>
    <servlet-class>testServlets.FlagsHandlerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmationServlet</servlet-name>
  	<servlet-class>testServlets.ConfirmationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ImplicitObjectsJsp</servlet-name>
  	<jsp-file>/jsp/implicitobjects.jsp</jsp-file>
  	<init-param>
  		<param-name>webxmlparam</param-name>
  		<param-value>Это устанавливается в файле web.xml</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>ImplicitObjects2</servlet-name>
  	<jsp-file>/jsp/implicitobjects2.jsp</jsp-file>
  </servlet>
  
  <!-- FacesServlet is main servlet responsible to handle all requests.
  		It acts as central controller.
  		This servlet initializes the JSF components before the JSP is displayed. -->
  <servlet>
  	<servlet-name>FacesServlet</servlet-name>
  	<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/simpleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormHandlerServlet</servlet-name>
    <url-pattern>/formhandlerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlagsHandlerServlet</servlet-name>
    <url-pattern>/flagshandlerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmationServlet</servlet-name>
  	<url-pattern>/confirmationservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImplicitObjectsJsp</servlet-name>
  	<url-pattern>/implicitobjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImplicitObjects2</servlet-name>
  	<url-pattern>/implicitobjects2</url-pattern>
  </servlet-mapping>
  
  <!-- JSF mapping -->
  <servlet-mapping>
  	<servlet-name>FacesServlet</servlet-name>
  	<url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacesServlet</servlet-name>
  	<url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacesServlet</servlet-name>
  	<url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacesServlet</servlet-name>
  	<url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
</web-app>